<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }

        .main {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;

        }

        form {
            display: flex;
            flex-direction: column;
            color: white;
            align-items: center;
            justify-content: center;
            background: linear-gradient(45deg, #123283, #20449f);
            padding: 50px;
            padding-top: 20px;
            padding-bottom: 10px;
            border-radius: 5px;
        }

        div.line {
            width: 150%;
            border: 1.5px solid rgb(255, 255, 255);
            margin: 10px;
        }

        button {
            width: 100%;
            margin-top: 20px;
            height: 20px;
            background: white;
            color: #0d245f;
            font-weight: 800;
            border: none;
        }

        button:hover {
            cursor: pointer;
        }

        form div.new-password {
            display: flex;
            color: rgb(219, 219, 219);
            flex-direction: column;
            margin-bottom: 10px;

        }

        form input {
            width: 200px;
            height: 25px;
            padding: 4px;
        }

        .success {
            color: rgb(174, 249, 174);
        }

        .error {
            color: rgb(247, 172, 172);
            
        }

        div.message {
            margin-top: 10px;
            width: 200px;
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="main">

        <form >Reset Password
            <div class="line"></div>
            <div class="new-password">
                <label for="password">New Password</label>
                <input name="password" id="password" type="text" placeholder="Password">
            </div>
            <div class="new-password">
                <label for="confirmPassword">Confirm Password</label>
                <input name="confirmPassword" id="confirmPassword" type="text" placeholder="Password">
            </div>

            <button>CONFIRM</button>
            <div class="message">
                <div class="error"></div>
                <div class="success"></div>

            </div>

        </form>
    </div>
    <script>
        const form = document.querySelector("form");
        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const error = document.querySelector("div.error");
            const success = document.querySelector("div.success");
            error.textContent = "";
            success.textContent = "";

            const password = document.querySelector("#password").value;
            const confirmPassword = document.querySelector("#confirmPassword").value;



            console.log(password);
            console.log(confirmPassword);

            try {
                const response = await fetch(document.URL, {
                    method: "POST",
                    body: JSON.stringify({ "password": password, "confirmPassword": confirmPassword }),
                    headers: {
                        "Content-Type": "application/json"
                    }
                })

                const data = await response.json();
                if (data.success){
                    success.textContent = data.message;
                } else {
                    error.textContent = data.message;
                }
                
            } catch (error) {
                error.textContent = "Some error occured";
                console.log(error);
            }
        })
    </script>
</body>

</html>